body {
  background: url("background2.jpeg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.App {
  width: 500px;
  margin: 0px auto;
  padding: 50px;
  text-align: center;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid #000;
  border-radius: 20px;
}

.button {
  background-color: #fbd131;
  border: none;
  padding: 15px;
  border-radius: 20px;
}

h1 {
  font-size: 3em;
}

a {
  text-decoration: none;
  color: #000;
}
