body {
  background: url("background2.jpeg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.App {
  width: 500px;
  margin: 50px auto;
  padding: 50px;
  text-align: center;
  background-color: #fff;
  border: 10px solid #000;
  border-radius: 20px;
}

.button {
  background-color: #fbd131;
  border: none;
  padding: 15px;
  border-radius: 20px;
}

h1 {
  font-size: 3em;
}

a {
  text-decoration: none;
  color: #000;
}

.movie {
}

.movie a {
  border-bottom: 3px solid #fbd131;
}

.movie a:hover {
  border-bottom: 3px solid #000;
}
